
FrankenBoy/Temp/

FrankenBoy/Logs/Packages-Update.log

FrankenBoy/Library/ShaderCache/

FrankenBoy/Library/PackageCache/

FrankenBoy/Library/Artifacts/

FrankenBoy/Library/SourceAssetDB-lock

FrankenBoy/Library/ScriptAssemblies/

FrankenBoy/Library/
