
FrankenBoy/Temp/

FrankenBoy/Logs/Packages-Update.log

FrankenBoy/Library/ShaderCache/

FrankenBoy/Library/PackageCache/

FrankenBoy/Library/Artifacts/

FrankenBoy/Library/SourceAssetDB-lock

FrankenBoy/Library/ScriptAssemblies/

FrankenBoy/Library/

*.meta

FrankenBoy/.vs/FrankenBoy/v16/.suo

FrankenBoy/.vs/FrankenBoy/v16/Server/sqlite3/db.lock

FrankenBoy/.vs/FrankenBoy/v16/Server/sqlite3/storage.ide

FrankenBoy/.vs/FrankenBoy/v16/Server/sqlite3/storage.ide-shm

FrankenBoy/.vs/FrankenBoy/v16/Server/sqlite3/storage.ide-wal
